body{
  background-color: #343434;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fdf4dc;
}
.primary-color{
  width: 80%;
  background-color: #c96207;
  color: #002147;
  font-weight: bold;
}
.contain {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
.contain > * {
  margin-left: 5%;
  margin-right: 5%;
}
#myModal{
  color: #343434;
}
.button{
  color: #002147 !important;
}